.img-wide{
	display: block;
}

.img-mobile{
	display: none;
}

.maintxt {
	position: relative;
}

.maintxt > img, .overlay-text {
	position: absolute; 
	padding-top: 10%;
}

@media (max-width: 992px){
  .img-wide{
   display: none;
  }

  .img-mobile{
   display: block;
  }
  
  .maintxt > img, .overlay-text {
	position: absolute; 
	padding-top: 25%;
  }
}